<h2>Edit book</h2>

<%= form_with model: @book, method: :patch do |form|%>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :read %>
  <%= form.check_box :read %>
  <%= form.submit "Edit Book" %>
<% end %>

<p><%= link_to 'All the books', books_path %></p>