<% if @book.read? %>
  <h3>I have read <%= @book.name %></h3>
<% else %>
  <h3>I have not read <%= @book.name %></h3>
<% end %>

<p><%= link_to 'All the books', books_path %></p>
<p><%= link_to 'Edit book', edit_book_path %></p>
<p><%= button_to 'Remove book', delete_book_path, method: :delete %></p>